<div class="row background">
    <div class="offset-sm-4 col-sm-4">
        
        <div class ="card text-blank">
            <div class="card-body">
                <div class="card-title text-center">
                    <h5> login using your email</h5>
                </div>

                <div class="card-text">
                    
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                        
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter email" name="email" [formControl]="myForm.controls['email']">
                        </div>
                        
                        <div class="alert alert-danger" *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">
                            a valid email is required.
                        </div>
                        
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password" name="password"  [formControl]="myForm.controls['password']">
                        </div>
                       
                        <div class= "alert alert-danger" *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">
                            password is required.
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-block btn-warning round" [disabled]="!myForm.valid">submit</button>
                        </div>
                    
                    </form>

                    <div class="text-center mt-3">
                        <button class="btn btn-link" routerLink="/Home"> Don't have an account? create one</button>
                    </div>
                
                </div>
            </div>
        </div> 

        <div class="alert alert-success" *ngIf="message.length>0">
           {{ message }}
        </div>
        <div class="alert alert-danger" *ngIf="UserError">
           {{UserError.message}}
        </div>
    
    </div>
</div>
