.background{
    background-color: #2e7cf6;
    height: 100%;
}

.card{
    background-color: transparent !important;
    color:white;
    border:none;
    margin-top: 10%;
}

.btn[type=submit]{
    border-radius: 40px;
}

.btn-link{
    color:white;
}

h1{
    color:white;
}