<div class="row mt-5">
    <div class="col">

        <div class="form-group">
            <label>post title</label>
            <input type="text" class="form-control" id="title" placeholder="post title" name="post title" [(ngModel)]="title">
        </div>
        
        <div class="form-group">
            <label>post content</label>
            <angular-editor [config]="editorConfig" [placeholder]=" 'Enter text here...' " [(ngModel)]="content"></angular-editor>
        </div>

        <div class="form-group float-right">
            <button (click)="createPost()" class="btn btn-warning round">submit</button>
        </div>
    </div>
</div>
