<app-signup></app-signup>

<div class="row">
    <div class="col-sm-6 text-right">
        <img class="align-middle m-5" height="300px" src="\assets\What-Is-Scribe-Image.png">
    </div>
<div class="col-sm-4">
    <h2 class="mx-5 my-5"> What is Scribe? </h2>
    <h6 class="mx-5 my-1">
        scribe is a thought sharing platform where you can share your thoughts and craziest ideas with the world.
        you can also interact with other users by commenting on their posts.
    <br/><br/>
    create a free account & get started.
    <br/><br/>
    let's get strated!
</h6>
</div>
</div>

<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-4">
        <h5>contact us</h5>

        <div class="row">
            <div class="offset-sm-4 text-left pt-5 vertical-divider mt-5">
                <i class="fa fa-phone mt-3"></i> 805******4
                <br/>
                <i class="fa fa-envelope mt-3"></i> tanishkajain9480@gmail.com
                <br/>
                <i class="fa fa-facebook mt-3"></i> ******
                <br/>
            </div>

            <div class="col-sm-5 text-right py-5 my-5 px-5">
                <i class="fa fa-map-marker mt-3"></i> ****** educare pvt. ltd. <br/>
                <i class="fa fa-map-marker mt-1 invsible"></i> B***** businss zone, <br/>
                <i class="fa fa-map-marker mt-1 invisible"></i> ******,south city 2,<br/>
                <i class="fa fa-map-marker mt-1 invisible"></i> Gurgaon,India-1*****<br/>


            </div>
        </div>
    </div>
</div>